<h1 class="my-12 font-bold text-3xl ">Thêm mới Danh Mục</h1>
<form [formGroup]="menuforms" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto" class="form">
  
    <div class="flex flex-col gap-2">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên Danh Mục</label>
      <input id="name" class="p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" type="text" placeholder="Tên danh mục" formControlName="name"/>
      <p *ngIf="!menuforms.controls.name.valid && (menuforms.controls.name.dirty || menuforms.controls.name.touched)" class="text-red-500 text-sm">Tên không được để trống</p>
    </div>
    <div class="flex flex-col gap-2">
        <label for="desc" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">MoTa Danh Mục</label>
        <input id="desc" class="p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" type="text" placeholder="mota danh mục" formControlName="desc"/>
        <p *ngIf="!menuforms.controls.desc.valid && (menuforms.controls.desc.dirty || menuforms.controls.desc.touched)" class="text-red-500 text-sm">Mô tả không được để trống</p>
      </div>

    <button class="p-3 bg-blue-600 text-black rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:opacity-50" type="submit" [disabled]="!menuforms.valid">Thêm danh mục</button>
  </form>
  