.svg-icon {
  width: 20px;
  height: 20px;
  margin: auto;
  margin-right: 15px;
  margin-left: 30px;
}
i{
    margin-left: 15px;
   
}
.hd1 {
  display: flex;
  height: 50px;
  width: 1400px;
  justify-content: space-between;
}

.conhd {
  display: flex;
}

.title {
  margin-left: 40px;
  margin-top: 10px;
}
.title1{
  margin-top: 10px;
}

.hd2 {
  display: flex;
  height: 100px;
  width: 1518px;
  background-color: #0e3a54;
  color: #fff;
  fill: #fff;
}

.lg {
  display: flex;
}

.logo img {
  background-color: #0e3a54;
  width: 60px;
  height: 60px;
  margin: 20px 0px 0px 80px;
}

.search {
  padding: 20px;
  margin-left: 80px;
  position: relative;

}

.search input {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  font-size: 16px;


}

.search button {
position: absolute;
  width: 160px;
  height: 55px;
  left: 360px;
  top: 50%;
  transform: translateY(-54%);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(255, 170, 0);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.lg{
  margin-left: 450px;
}
.lg p{
    margin-top: 40px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.menu{
    display: flex;
    height: 71px;
    background-color: #F4F4F4;
}
.menu1{
width: 200px;
background-color: rgb(255, 170, 0);
height: 100%;
margin-left: 80px;
margin-right: 100px;
}
.menu1 p{
    margin-top: 25px;
    margin-left: 15px;
    color: #fff;
    fill: #fff;
   
}
.menu2 ul {
    display: flex;
    margin-top: 25px;  
}
.menu2 li {
    margin-right: 40px;
}
.menu2 a{
    color: black;
}
.menu3 p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
    margin-left: 300px;
}