.text{
  display: flex;
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 30px;
}
i{
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
.sao{
    margin-top: 10px;
    display: flex;
}
.svg-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-top: 5px;
  }
  .image{
    width: 650px;
    margin-right: 100px;
    margin-left: 80px;
    
  }
  .img1{
    width: 100%;
    height: 560px;
    border-radius: 20px;
    border: 1px solid black;
  }
  .img2{
    width: 300px;
    height: 157px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
    border: 1px solid black;  
  }
  .productdetail{
    display: flex;
  }
  .price{
    font-size: 20px;
  }
  .no{
    margin-left: 10px;
    margin-top: 5px;
    color: rgb(176, 176, 9);
  }
  .ava{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 35px;
  }
  .thongtin{
    width: 600px;
  }
  span{
    font-size: 14px;
    font-weight: 100;
  }
  .sp{
    padding: 5px 15px;
    height: 30px;
    border: 1px solid black;
    margin-left: 30px;
  }
  .quan{
    padding: 5px 25px;
    border: 1px solid black;
    background-color: rgba(179, 176, 172, 0.304);
  }
  .congtru{
    padding: 5px 15px;
    border: 1px solid black;
  }
  .btn{
   width: 220px;
   height: 50px;
   margin-right: 20px;
   border-radius: 25px;
   color: aliceblue;
   font-size: 20px;
   margin-top: 30px;
  }
  .fab{
    margin-left: 20px;
  }
  .fas{
    margin-left: 20px;
  }
  hr{
    margin-bottom: 40px;
  }
  .btn{
    color: black;
    border: 1px solid black;
  }
  .nut{
    margin-left: 500px;
  }
  .conment{
    width: 1314px;
    height: 200px;
   border: 2px solid rgb(170, 168, 168);
   border-radius: 20px;
   margin-left: 100px;
   margin-top: 40px;
  }
  .conment h3{
    color: #1B5A7D;
    margin-left: 40px;
    margin-top: 20px;
  }
  .conment p{

    color: #1B5A7D;
    margin-left: 40px;
    margin-top: 20px;
  }
  .conment button{
    background-color: #1B5A7D;
    margin-left: 40px;
    margin-top: 20px;
    color: aliceblue;
  }
  .svg-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-top: 5px;
  }
  
  .product {
    width: 300px;
    height: 310px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 15px;
    margin-top: 2rem
  }
  
  
  .product img {
    width: 280px;
    height: 180px;
    margin-left: 10px;
    margin-top: 20px;
    object-fit: cover;
  }
  span{
      font-weight: 700;
  }
  h3{
      margin-left: 20px;
      color: #1B5A7D;
  }
  span{
      margin-left: 20px;
  
     
  }
  .sao{
      margin-left: 17px;
  }
  .productsss{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
    margin-bottom: 70px;
  }
  .productsLQ h2{
    margin: 30px 50px;
  }
  a{
    text-decoration: none;
  }