<div class="footerrr">

  <div class="fter1">
    <p class="tvh">Subscribe newsletter</p>
    <input type="text" placeholder="Email address">
    <svg class="icon" viewBox="0 0 20 20">
      <path
        d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z">
      </path>
    </svg>

    <svg class="svg-i" viewBox="0 0 20 20">
      <path
        d="M14.911,1.295H5.09c-0.737,0-1.339,0.603-1.339,1.339v14.733c0,0.736,0.603,1.338,1.339,1.338h9.821c0.737,0,1.339-0.602,1.339-1.338V2.634C16.25,1.898,15.648,1.295,14.911,1.295 M15.357,17.367c0,0.24-0.205,0.445-0.446,0.445H5.09c-0.241,0-0.446-0.205-0.446-0.445v-0.893h10.714V17.367z M15.357,15.58H4.644V4.42h10.714V15.58z M15.357,3.527H4.644V2.634c0-0.241,0.205-0.446,0.446-0.446h9.821c0.241,0,0.446,0.206,0.446,0.446V3.527z">
      </path>
    </svg>

    <p class="phone">Call us 24/7 :
      <br> (+62) 0123 567 789</p>

  </div>

  <div class="fter2">
    <div class="logoo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8ZIA_e-Y8Fp8Py6LBcVy528hBLzryZmQX_qh-k3kbzA&s"
        alt="">
    </div>
    <p class="text">64 st james boulevard
      hoswick , ze2 7zj</p>
    <hr>
    <div class="iconl">
      <i class="fab fa-google"></i>
      <i class="fab fa-facebook"></i>
      <i class="fas fa-phone"></i>
    </div>
  </div>

  <div class="fter3">
    <h3>Find product</h3>
    <ul>
        <li>Brownze arnold</li>
        <li>Chronograph blue</li>
        <li>Smart phones</li>
        <li>Automatic watch</li>
        <li>Hair straighteners</li>
    </ul>
  </div>

  <div class="fter4">
    <h3>Get help</h3>
    <ul>
        <li>About us</li>
        <li>Contact us</li>
        <li>Return policy</li>
        <li>Privacy policy</li>
        <li>Payment policy</li>
    </ul>
  </div>

  <div class="fter5">
    <h3>Find product</h3>
    <ul>
        <li>News</li>
        <li>Service</li>
        <li>Our policy</li>
        <li>Custmer care</li>
        <li>Faq’s</li>
    </ul>
  </div>
</div>
