.svg-icon {
  width: 20px;
  height: 20px;
}

.footerrr {
  height: 500px;
  background-color: #E2F4FF;

}

.fter1 {
  display: flex;
  width: 1320px;
  height: 130px;
  background-color: #fff;
  position: absolute;
  border-radius: 20px;
  margin-left: 90px;
  margin-top: 40px;
}

.fter1 input {
  height: 50px;
  width: 320px;
  border-radius: 20px;
  background-color: rgb(255, 170, 0);
  font-size: 16px;
  /* margin-left: 450px; */
  margin-top: 37px;
  border: none;
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 880px;
  top: 50%;
  transform: translateY(-54%);
  padding: 5px 10px;
  cursor: pointer;
  fill: #fff;
}

input::placeholder {
  color: #fff;
  padding-left: 25px;
}
.tvh{
font-size: 30px;
margin-right: 150px;
margin-top: 40px;
margin-left: 120px;
height: 20px;
color: #1B5A7D;
font-weight: 800;
}
.svg-i{
    fill: rgb(255, 170, 0) ;
    width: 50px;
    height: 50px;
    margin-top: 38px;
    margin-left: 80px;
}
.phone{
    margin-left: 15px;
    margin-top: 40px;
}

.fter2{
    position: absolute;
    width: 200px;
    margin-top: 220px;
    margin-left: 90px;
}
.logoo img{
    background-color: #0e3a54;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}
.text{
    margin-bottom: 30px;
}
i{
    margin-right: 40px;
    margin-top: 20px;
}
.fter3{
    position: absolute;
    width: 200px;
    margin-top: 220px;
    margin-left: 380px;
    color: #1B5A7D;
}
.fter3 h3{
    margin-left: 20px;
}
.fter3 li {
    margin-bottom: 20px;
}
ul {
    list-style-type:circle; /* Dấu chấm tròn */
    /* Các thuộc tính khác tùy ý */
   
}

.fter4{
    position: absolute;
    width: 200px;
    margin-top: 220px;
    margin-left: 780px;
    color: #1B5A7D;
}
.fter4 h3{
    margin-left: 20px;
}
.fter4 li {
    margin-bottom: 20px;
}

.fter5{
    position: absolute;
    width: 200px;
    margin-top: 220px;
    margin-left: 1180px;
    color: #1B5A7D;
}
.fter5 h3{
    margin-left: 20px;
}
.fter5 li {
    margin-bottom: 20px;
}
li{
    font-weight: 400;
}