.svg-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-top: 5px;
}

.product {
  width: 310px;
  height: 340px;
  border: 1px solid rgb(184, 180, 180);
  border-radius: 15px;
  margin-top: 2rem;
  
}


.product img {
  width: 280px;
  height: 180px;
  margin-left: 15px;
  margin-top: 20px;
  object-fit: cover;
}
span{
    font-weight: 700;
}
h4{
    margin-left: 20px;
    color: #1B5A7D;
}
span{
    margin-left: 20px;

   
}
.sao{
    margin-left: 17px;
    margin-top: 20px;
}
